@import "tailwindcss";

:root {
  /*  Brand Colors */
  --color-primary: #009688;
  --color-primary-light: #00bfa5;
  --color-primary-dark: #00635c;

  /*  Base Colors */
  --color-white: #ffffff;
  --color-light-gray: #f0f3f4;
  --color-dark-gray: #444444;

  /* Utility Colors */
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ffc107;
  --color-info: #2196f3;
}

/* Handle main slider navigation buttons */
.MainSectionSwiper .swiper-button-prev,
.MainSectionSwiper .swiper-button-next {
  display: none !important;
  width: 45px !important;
  height: 45px !important;
  background-color: white !important;
  border-radius: 50% !important;
  border: 2px solid #0d9c93;
  color: #009688 !important;
  box-shadow: 1px 10px 10px rgba(0, 97, 90, 0.3);
}

/* Show buttons on hover */
.MainSectionSwiper:hover .swiper-button-prev,
.MainSectionSwiper:hover .swiper-button-next {
  display: flex !important;
}

/* Hover effect */
.MainSectionSwiper .swiper-button-prev:hover,
.MainSectionSwiper .swiper-button-next:hover {
  width: 53px !important;
  height: 53px !important;
}

.MainSectionSwiper .swiper-button-prev:hover {
  transform: translate(3px, -3px) !important;
}

.MainSectionSwiper .swiper-button-next:hover {
  transform: translate(-3px, -3px) !important;
}

/* Arrow icons style */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
  color: #009688;
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}
